<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript">
    if(window.location.protocol == 'http:') {
      location.href =   location.href.replace("http://", "https://");
    }
  </script>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt| strip_html }}" />
  <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  <meta name="author" content="{{ site.name }}" />

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="twitter:title" content="{{ page.title }}" />
  {% endif %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.feed.path }}" />

  <!-- Favicon -->
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/media/favicon/48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/media/favicon/72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/96x96.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/media/favicon/144x144.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon/192x192.png">

</head>
{% include piwik.html %}
<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

        <div class="site-info">
          <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>

	  {% if site.countdown %}
            <div id="countdown" style="margin-top:5px;"></div>
          {% endif %}
        </div>


        <nav id="nav-list">
          <a href="/">Inicio</a>
          <a href="/noticias">Noticias</a>
          <a href="/directo">Directo</a>
          <a href="/horarios">Horarios</a>
          <a href="/podcast">Podcast</a>
          <a href="/contacto">Contacto</a>
          <a href="/acercade">Acerca de...</a>
          <a href="/deja-tu-audio">Envíanos tu audio</a>
        </nav>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include links.html type="footer" %}
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

  {% include countdown.html %}
</body>
</html>
